.favorites-list {
  list-style: none;
  padding: 0;
}

.favorite-item {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  padding: 0.75rem 1rem;
  background: whitesmoke;
  border-radius: 8px;

}
